
#navbar {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;

    font-family: 'Raleway';

    width: 100%;
    box-sizing: border-box;
    text-transform: capitalize;
    padding-top: 1.5em;
    // background-color: rgb(18 24 32);
    background-color: rgb(18 18 32);

    // background: linear-gradient(90deg, #8f15ff 0%, #992e69 100%);

    & > p {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;

        position: relative;
        padding: 0 2em;
        margin: 0;
        text-align: right;
        font-size: 0.9em;
        font-weight: 300;
        word-spacing: 0.3em;
        cursor: pointer;

        a { all: unset; }

        img {
            display: none;
            max-height: 3em;
            margin-right: 1em;
            opacity: 0.7;
        }

        span {
            // color: #6fffff;
            font-size: 1.8em;
            font-weight: 800;
            text-transform: uppercase;
            // margin: 0 0.3em;
            margin: 0;

            // #e9b700, #00b3e9
            // #26fff5, #0093e9
            // background: -webkit-linear-gradient(#63ebf9, #b0e0ff);
            // background: -webkit-linear-gradient(#f98d63, #feffb0);
            // background: -webkit-linear-gradient(#c6f963, #fff5b0);
            // background: -webkit-linear-gradient(#f963cb, #c7b0ff);
            // background: -webkit-linear-gradient(#5cbbff, #a0f6ff);;
            background: -webkit-linear-gradient(#cd62ff, #a0f6ff);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    & > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        float: right;

        list-style: none;
        margin: 0;
        margin-right: 2em;
        padding: 0;
        overflow: hidden;

        a {
            all: unset;

            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 100%;

            padding: 0.5em 1em;
            cursor: pointer;

            border-bottom: 2px solid transparent;

            &:hover { border-color: currentColor; }
        }
    }
}
