
#advice {
    position: relative;
    z-index: 1;

    width: 100%;
    overflow: hidden;

    background-color: #13142a;
    background: radial-gradient(ellipse at right bottom, #313a4b 0%, #080422 90%);

    box-shadow: 0 0 20px 0 #00000080;
    border-top: 1px solid #9ba5fc;

    .profile-pic {
        .border { border-color: rgb(215 255 56); }
        .part-a::after, .part-b::after { background-color: rgb(215 255 56); }
    }

    h2 {
        text-align: center;
        line-height: 1.5em;
        font-size: 1.7em;
        font-weight: 200;
        margin-top: 0;

        a {
            text-decoration: none;
            color: inherit;

            &:hover { color: rgb(10, 186, 231); }
        }
        
        strong {
            display: block;
            font-size: 1.6em;
            font-weight: 600;
        }
    }

    svg {
        position: absolute;
        width: 100%;
        z-index: -1;
        opacity: 0.8;

        &:first-of-type { top: -22em; }
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 13em;
        padding-bottom: 5em;

        hr { opacity: 0.3; }

        .advice-text { margin-bottom: 2em; }
        .advice-text > div {
            vertical-align: baseline;
            text-align: justify;
            line-height: 1.1em;

            column-count: 2;
            column-fill: balance;
            column-gap: 3.5em;

            max-width: 48em;
            padding: 2em 0;

            p {
                display: inline-block;
                margin: 0.5em 0;
            }
        }
    }
}
