
$card-border-radius: 20px;

// colors
// #151515
// #1D1F20
// #424242

.overview-card {
    position: relative;

    border-radius: $card-border-radius;
    border-bottom: 2px solid #989898;
    box-sizing: border-box;

    flex-grow: 1;
    width: 278px;
    min-height: 182px;
    margin: 1.3em 1em 2em 4.5em;

    h2 {
        position: absolute;
        top: -2em;
        left: 2em;
        font-size: 1.29em;
        font-weight: 500;
        color: #686868;

        span {
            position: absolute;
            left: -0.4em;
            top: 0.4em;
            font-size: 11.7em;
            font-weight: bolder;
            font-variant-numeric: lining-nums;
            font-family: "Carlito";
            z-index: -1;
        }
    }

    ul {
        position: relative;

        box-sizing: border-box;
        box-shadow: -10px 0px 10px -5px #5e5e5e80;
        border: 2px dashed #989898;
        border-bottom: none;
        border-left: none;
        border-top-right-radius: $card-border-radius;
        border-bottom-right-radius: $card-border-radius;
        background-color: white;

        width: calc(100% - 45px);
        height: 100%;
        margin: 0;
        margin-left: 45px;
        padding: 0;
        padding-left: 1.2em;

        font-weight: 400;
        font-size: 1.3em;

        list-style: none;

        li { margin: 1em 0; }

        a {
            text-decoration: none;

            &:hover {
                cursor: pointer;
                text-decoration: underline dotted;
            }
        }

        .unit {
            text-transform: uppercase;
            &-sub {
                font-style: italic;
                font-weight: 200;
            }
        }
    }
}